<div class="container">
  <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>

  <div class="ui-g ui-fluid content">
    <form autocomplete="off" #f="ngForm">
      <p-card header="Sign up" subheader="Insert your credentials" [style]="{width: '400px'}"
              styleClass="p-card-shadow">
        <ng-template pTemplate="header">
          <img alt="logo" src="assets/logo.png">
        </ng-template>

        <div class="ui-g-12 input">
          <span class="p-float-label">
              <input id="first-name-input" type="text" pInputText ngModel required name="firstName" #firstName
                     maxlength="40">
              <label for="first-name-input">First name</label>
          </span>
        </div>

        <div class="ui-g-12 input">
          <span class="p-float-label">
              <input id="last-name-input" type="text" pInputText ngModel required name="lastName" #lastName
                     maxlength="40">
              <label for="last-name-input">Last name</label>
          </span>
        </div>

        <div class="ui-g-12 input">
          <span class="p-float-label">
              <input id="email-input" type="email" pInputText ngModel required name="email" #email maxlength="140">
              <label for="email-input">E-mail</label>
          </span>
        </div>

        <div class="ui-g-12 input">
          <span class="p-float-label p-input-icon-right">
              <i class="pi {{isPasswordVisible ? 'pi-eye' : 'pi-eye-slash'}}" (click)="changeVisibility()"></i>
              <input id="password-input" type="{{isPasswordVisible ? 'text' : 'password'}}" pInputText ngModel
                     name="password" required #password minlength="4" maxlength="20">
              <label for="password-input">Password</label>
          </span>
        </div>

        <ng-template pTemplate="footer">
          <button pButton type="submit" icon="pi pi-user" label="Sign up" iconPos="left" [disabled]="!f.valid"
                  (click)="register(firstName.value, lastName.value, email.value, password.value)"></button>
          <p>Already registered? <a routerLink="/login">Sign in now!</a></p>
        </ng-template>
      </p-card>
    </form>
  </div>
</div>
