<div class="container">
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <p-toast key="tst" [style]="{marginTop: '70px'}"></p-toast>

  <h1>My Plans</h1>

  <p-table [value]="plans" styleClass="p-datatable-striped" selectionMode="single" dataKey="id"
           [(selection)]="selectedPlan" [responsive]="true" [resizableColumns]="true" [scrollable]="true"
           scrollHeight="400px">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <button type="button" pButton pRipple icon="pi pi-plus" class="p-button-success p-mr-2" label="New"
                (click)="confirmCreate()"></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="countryName">Country
          <p-sortIcon field="countryName"></p-sortIcon>
        </th>
        <th pSortableColumn="departureDate">Departure Date
          <p-sortIcon field="departureDate"></p-sortIcon>
        </th>
        <th pSortableColumn="returnDate">Return Date
          <p-sortIcon field="returnDate"></p-sortIcon>
        </th>
        <th pSortableColumn="duration">Duration
          <p-sortIcon field="duration"></p-sortIcon>
        </th>
        <th pSortableColumn="totalExpenses">Total Expenses
          <p-sortIcon field="totalExpenses"></p-sortIcon>
        </th>
        <th width="10%"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-plan>
      <tr [pSelectableRow]="plan" (click)="selectPlan(plan)">
        <td>{{plan.countryName}}</td>
        <td>{{plan.departureDate | date}}</td>
        <td>{{plan.returnDate | date}}</td>
        <td>{{plan.duration}} days</td>
        <td>{{plan.expenseSet.length | currency: 'BRL'}}</td>
        <td width="10%">
          <button pButton type="button" class="p-button-raised p-button-rounded p-button-danger"
                  icon="pi pi-trash" pTooltip="Remove Plan" (click)="confirmDelete(plan.id)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
